* {
    margin: 0;
    padding: 0;
    list-style: none;
    letter-spacing: .05em;
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    font-family: "source-han-sans-traditional", sans-serif, "微軟正黑";
    line-height: 2;
}

.container {
    max-width: 1024px;
    margin: 0 auto;
}

.basic-padding {
    padding: 20px 20px 5px;
}

@media (min-width: 1200px) {
    .basic-padding {
        padding: 50px 20px 10px;
    }
}



.header {
    padding: 30px 50px 0;
    text-shadow: 1px 1px 2px #fff, -1px 1px 2px #fff, 1px -1px 2px #fff, -1px -1px 2px #fff;
    background: linear-gradient(150deg, rgba(0, 97, 255, .5), rgba(0, 243, 255, .5), rgba(255, 0, 222, .5));
}

.header p {
    font-size: 20px;
}

h1 {
    margin-top: 10px;
    font-size: 40px;
    line-height: 1.2;
}

.header img {
    display: block;
    width: 200px;
    margin: 30px auto 0;
}

@media (min-width: 480px) {
    .header {
        padding: 30px 20px 0;
    }
    .header .container {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .header .container > div {
        margin: 0 40px 50px;
    }

    .header img {
        margin: 0;
    }
}



.main {
    flex-grow: 1;
}



.footer {
    margin: 50px 0 0;
    padding: 0 20px;
    color: #fff;
    font-size: 20px;
    line-height: 2;
    text-shadow: 0 0 2px #000;
    background: linear-gradient(150deg, rgba(0, 97, 255, .5), rgba(0, 243, 255, .5), rgba(255, 0, 222, .5));
}
